
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}

.c1 {
  background-color: #ff1a1a;
  color: white;
}

#l1 {
  background-color: #33cc33;
  color: white;
}

#l2 {
  background-color: #ffff00;
  color: white;
}

#l3 {
  background-color: #ff9900;
  color: white;
}

#l4 {
  background-color: #33ccff;
  color: white;
}

a {
  color: #00ff00;
  text-decoration: none;
}

ul {
  color: #008000;
}
